@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Oi&display=swap");

$titleFont: "Oi", serif;
$subtitleFont: "Luckiest Guy", cursive;
$textFont: "Elms Sans", sans-serif;

$primaryColor: #fff000;
$secondaryColor: #e5322e;
$backgroundColor: #313338;
$textColor: #fafafa;

$hoverColor: #fdb813;
