@import "variables"; // najpierw zmienne
@import "reports"; // potem klasy, które używają zmiennych
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $textFont;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
